.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form{
    display: inline;
}
#forLogin{
    text-align: center;
}
.login{
    width: 60%;
    margin: 25px auto;
}
#forSignUp{
    text-align: center;
}
